Models Evaluation

In [22]:
import os, sys

filepath = os.path.abspath('../')

if filepath not in sys.path:
    sys.path.append(filepath)

In [23]:
# import data

from src import Train

valueMapping, (X_likeability_test, y_likeability_test), (X_price_test, y_price_test) = Train.TrainAndSaveModels()

Classification and Regression Models Test

In [24]:
import sys_dir as sd
import joblib

# classification models

classificationModels = {'DTCM' : joblib.load(sd.DTCM), 'KNNC' : joblib.load(sd.KNNC), 'LogRM' : joblib.load(sd.LogRM)}

classificationPredictions = {}

for modelName, model in classificationModels.items():
    classificationPredictions[modelName] = model.predict(X_likeability_test)

classificationResults= {} # use this for eval

for modelName, predictions in classificationPredictions.items():
    data = X_likeability_test.copy()
    data['true value'] = y_likeability_test
    data['predictions'] = predictions
    classificationResults[modelName] = data


# regression models
regressionModels = {'DTRM' : joblib.load(sd.DTRM), 'KNNR' : joblib.load(sd.KNNR), 'LinRM' : joblib.load(sd.LinRM)}

regressionPredictions = {}
regressionResults = {} # use this for eval

for modelName, model in regressionModels.items():
    regressionPredictions[modelName] = model.predict(X_price_test)

for modelName, predictions in regressionPredictions.items():
    data = X_price_test.copy()
    data['true value'] = y_price_test
    data['predictions'] = predictions
    regressionResults[modelName] = data

Classification Models Evaluation

Decision Tree Classifier Model

In [25]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
import pandas as pd

print('Data Frame: ')
display(classificationResults['DTCM'])

trueValueDTCM = classificationResults['DTCM']['true value']
predictionsDTCM = classificationResults['DTCM']['predictions']

print('Confusion Matrix: ')
display(pd.DataFrame(confusion_matrix(trueValueDTCM, predictionsDTCM),index=['True 1', 'True 0'], columns=['Pred 1', 'Pred 0']))

print(f'Accuracy: {accuracy_score(trueValueDTCM, predictionsDTCM)}')
print(f'Precision Score: {precision_score(trueValueDTCM, predictionsDTCM)}')
print(f'Recall Score: {recall_score(trueValueDTCM, predictionsDTCM)}')
print(f'F1 Score: {f1_score(trueValueDTCM, predictionsDTCM)}')

Data Frame:

    age  plays_games  owns_cards  watches_anime  true value  predictions
0    12            1           1              1           1            1
17   14            1           1              1           1            1
15   17            1           0              1           1            1
1    25            1           0              1           1            1
8    35            0           0              0           0            0

Confusion Matrix:

        Pred 1  Pred 0
True 1       1       0
True 0       0       4

Accuracy: 1.0
Precision Score: 1.0
Recall Score: 1.0
F1 Score: 1.0

KNN Classifier Model

In [26]:
print('Data Frame: ')
display(classificationResults['KNNC'])

trueValueKNNC = classificationResults['KNNC']['true value']
predictionsKNNC = classificationResults['KNNC']['predictions']

print('Confusion Matrix: ')
display(pd.DataFrame(confusion_matrix(trueValueKNNC, predictionsKNNC),index=['True 1', 'True 0'], columns=['Pred 1', 'Pred 0']))

print(f'Accuracy: {accuracy_score(trueValueKNNC, predictionsKNNC)}')
print(f'Precision Score: {precision_score(trueValueKNNC, predictionsKNNC)}')
print(f'Recall Score: {recall_score(trueValueKNNC, predictionsKNNC)}')
print(f'F1 Score: {f1_score(trueValueKNNC, predictionsKNNC)}')

Data Frame:

    age  plays_games  owns_cards  watches_anime  true value  predictions
0    12            1           1              1           1            1
17   14            1           1              1           1            1
15   17            1           0              1           1            1
1    25            1           0              1           1            1
8    35            0           0              0           0            0

Confusion Matrix:

        Pred 1  Pred 0
True 1       1       0
True 0       0       4

Accuracy: 1.0
Precision Score: 1.0
Recall Score: 1.0
F1 Score: 1.0

Logistic Regression Model

In [27]:
print('Data Frame: ')
display(classificationResults['LogRM'])

trueValueLogRM = classificationResults['LogRM']['true value']
predictionsLogRM = classificationResults['LogRM']['predictions']

print('Confusion Matrix: ')
display(pd.DataFrame(confusion_matrix(trueValueLogRM, predictionsLogRM),index=['True 1', 'True 0'], columns=['Pred 1', 'Pred 0']))

print(f'Accuracy: {accuracy_score(trueValueLogRM, predictionsLogRM)}')
print(f'Precision Score: {precision_score(trueValueLogRM, predictionsLogRM)}')
print(f'Recall Score: {recall_score(trueValueLogRM, predictionsLogRM)}')
print(f'F1 Score: {f1_score(trueValueLogRM, predictionsLogRM)}')

Data Frame:

    age  plays_games  owns_cards  watches_anime  true value  predictions
0    12            1           1              1           1            1
17   14            1           1              1           1            1
15   17            1           0              1           1            1
1    25            1           0              1           1            1
8    35            0           0              0           0            0

Confusion Matrix:

        Pred 1  Pred 0
True 1       1       0
True 0       0       4

Accuracy: 1.0
Precision Score: 1.0
Recall Score: 1.0
F1 Score: 1.0

Regression Models Evaluation

Decision Tree Regressor Model

In [28]:
from sklearn.metrics import r2_score, mean_squared_error, root_mean_squared_error, mean_absolute_error

print('Data Frame: ')
display(regressionResults['DTRM'])

trueValueDTRM = regressionResults['DTRM']['true value']
predictionsDTRM = regressionResults['DTRM']['predictions']

print(f'R2 Score: {r2_score(trueValueDTRM, predictionsDTRM)}')
print(f'MSE: {mean_squared_error(trueValueDTRM, predictionsDTRM)}')
print(f'RMSE: {root_mean_squared_error(trueValueDTRM, predictionsDTRM)}')
print(f'MAE: {mean_absolute_error(trueValueDTRM, predictionsDTRM)}')

Data Frame:

    rarity  age  condition  popularity  true value  predictions
0        5   12          9          85         350        250.0
17       3   10          9          85         130        250.0
15       5   14         10          90         450        400.0
1        3    8          7          60          75        120.0
8        2   12          5          70          30         40.0

R2 Score: 0.7836860933074974
MSE: 5805.0
RMSE: 76.19055059520177
MAE: 65.0

KNN Regressor Model

In [29]:
print('Data Frame: ')
display(regressionResults['KNNR'])

trueValueKNNR = regressionResults['KNNR']['true value']
predictionsKNNR = regressionResults['KNNR']['predictions']

print(f'R2 Score: {r2_score(trueValueKNNR, predictionsKNNR)}')
print(f'MSE: {mean_squared_error(trueValueKNNR, predictionsKNNR)}')
print(f'RMSE: {root_mean_squared_error(trueValueKNNR, predictionsKNNR)}')
print(f'MAE: {mean_absolute_error(trueValueKNNR, predictionsKNNR)}')

Data Frame:

    rarity  age  condition  popularity  true value  predictions
0        5   12          9          85         350        380.0
17       3   10          9          85         130        232.0
15       5   14         10          90         450        380.0
1        3    8          7          60          75        106.0
8        2   12          5          70          30         55.0

R2 Score: 0.8674169026680578
MSE: 3558.0
RMSE: 59.648973168026956
MAE: 51.6

Linear Regression Model

In [30]:
print('Data Frame: ')
display(regressionResults['LinRM'])

trueValueLinRM = regressionResults['LinRM']['true value']
predictionsLinRM = regressionResults['LinRM']['predictions']

print(f'R2 Score: {r2_score(trueValueLinRM, predictionsLinRM)}')
print(f'MSE: {mean_squared_error(trueValueLinRM, predictionsLinRM)}')
print(f'RMSE: {root_mean_squared_error(trueValueLinRM, predictionsLinRM)}')
print(f'MAE: {mean_absolute_error(trueValueLinRM, predictionsLinRM)}')

Data Frame:

    rarity  age  condition  popularity  true value  predictions
0        5   12          9          85         350   390.583905
17       3   10          9          85         130   247.686474
15       5   14         10          90         450   468.949832
1        3    8          7          60          75   149.977730
8        2   12          5          70          30    81.029416

R2 Score: 0.8205252862835343
MSE: 4816.383417295076
RMSE: 69.40016871229547
MAE: 60.64547167011059